.category-list {
    padding: 5%;
    ul {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      padding: 0;
      li {
        list-style: none;
        padding: 6px 10px 5px;
        margin: 5px;
        font-weight: bold;
        border-radius: 25px;
        background-color: white;
      }
  
      li.active {
        color: white;
        background-color: rgb(196, 12, 60);
        border: 2px solid rgb(224, 87, 87);
      }
    }
  }